.sticky-menu.product(data-sticky-container) 
  .product__gallery
    include ./_prod-gallery
  .sticky-menu__side.product__side
    include ./_product-side
  .sticky-menu__content.product__description
    //-include ../blocks/_ya-reviews.html
    .product-desc
      .product-desc__inner
        h2 About product
        p The units sold come with a slot for 1 physical SIM and an eSIM. If you need a unit with 2 physical SIM slots, please contact support.
        p iPhone 15 Pro Max is a combination of aesthetics and functionality. For the first time, the iPhone frame is made of titanium, making it the lightest iPhone Pro ever and able to withstand the most demanding workloads.
        p The heart of the iPhone 15 Pro Max is the new A17 Pro processor. This is the first mobile chip made using a 3 nm process technology, ensuring instant response of the device to any commands and optimal energy saving. And the new 6-core graphics chip works 20% faster and supports ray tracing at the hardware level.
      button.h6.hl(open-description) Read the description
    .product-chars
      table
        tbody
          tr
            td.h6 Screen
            td.h5 6.43" (2400x1080)
          tr
            td.h6 Built-in memory
            td.h5 128 ГБ
          tr
            td.h6 RAM
            td.h5 6 ГБ
          tr
            td.h6 Operating System
            td.h5 Bluetooth, NFC, Wi-Fi
          tr
            td.h6 Wireless interfaces
            td.h5 Bluetooth, NFC, Wi-Fi
      button.h6.hl(open-chars) All characteristics