<div class="prod-options">
  <span>Постоянная память</span>
  <div class="prod-options__line">
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-honor-70-5g-8-128-gb-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input type="radio" name="PROPERTY_CHANGEABLE_MEMORY" value="6353" />
      <div class="param"><span>128 Гб</span></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-huawei-p50-256-gb-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input type="radio" name="PROPERTY_CHANGEABLE_MEMORY" value="6360" />
      <div class="param"><span>256 Гб</span></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-plus-512-gb-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_MEMORY"
        value="6347"
        checked="checked"
      />
      <div class="param"><span>512 Гб</span></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-pro-max-1-tb-kosmicheskiy-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input type="radio" name="PROPERTY_CHANGEABLE_MEMORY" value="6318" />
      <div class="param"><span>1 Тб</span></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-nothing-phone-1-8-256-gb-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input type="radio" name="PROPERTY_CHANGEABLE_MEMORY" value="6366" />
      <div class="param"><span></span></div>
    </a>
  </div>
  <span>Цвет</span>
  <div class="prod-options__line">
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-plus-512-gb-rozovyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6346"
      />
      <div class="color-param" style="--c: #f6e1de"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-plus-512-gb-goluboy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6343"
      />
      <div class="color-param" style="--c: #a2bcd8"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-plus-512-gb-zheltyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6344"
      />
      <div class="color-param" style="--c: #f9dc4f"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-plus-512-gb-zelenyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6345"
      />
      <div class="color-param" style="--c: #49736b"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-plus-512-gb-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6347"
        checked="checked"
      />
      <div class="color-param" style="--c: #1a1a1c"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-13-pro-max-512-gb-grafitovyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6285"
      />
      <div class="color-param" style="--c: #3e3e3e"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-samsung-galaxy-s23-ultra-12-512-gb-kremovyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="5807"
      />
      <div class="color-param" style="--c: #e3dece"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-pro-max-512-gb-serebristyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6331"
      />
      <div class="color-param" style="--c: #f6f6f6"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-15-pro-512-gb-titanovyy-siniy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="5704"
      />
      <div class="color-param" style="--c: #444658"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-asus-zenfone-10-16-512-gb-gsm-only-no-cdma-chernyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6349"
      />
      <div class="param"><span></span></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-samsung-galaxy-z-flip5-8-512-gb-myata/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="5749"
      />
      <div class="color-param" style="--c: #21e331"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-pro-max-512-gb-temno-fioletovyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6332"
      />
      <div class="color-param" style="--c: #6b557e"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-pro-max-512-gb-zolotoy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6329"
      />
      <div class="color-param" style="--c: #f8d78f"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-plus-512-gb-fioletovyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6316"
      />
      <div class="color-param" style="--c: #e1c6f2"></div>
    </a>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Серый</span></div>
    </div>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-samsung-galaxy-s24-ultra-512-gb-seryy-titan-/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="5779"
      />
      <div class="color-param" style="--c: #8b878c"></div>
    </a>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled">
        <span>Космический красный PS5</span>
      </div>
    </div>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Небесно-голубой</span></div>
    </div>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-plus-512-gb-product-red/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6312"
      />
      <div class="color-param" style="--c: #ed173c"></div>
    </a>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Оранжевый</span></div>
    </div>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Нежно-розовый</span></div>
    </div>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-13-512-gb-siniy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6242"
      />
      <div class="color-param" style="--c: #2a48af"></div>
    </a>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Светло-серый</span></div>
    </div>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Коричневый </span></div>
    </div>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-plus-512-gb-temnaya-noch/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6315"
      />
      <div class="color-param" style="--c: #0a1620"></div>
    </a>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-13-pro-max-512-gb-serebryanyy/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6286"
      />
      <div class="color-param" style="--c: #d8d8d8"></div>
    </a>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Серый камуфляж PS5</span></div>
    </div>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Яркий фиолетовый</span></div>
    </div>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Slate Blue</span></div>
    </div>
    <a
      href="/catalog/smartfony-i-gadzhety/smartfon-apple-iphone-14-plus-512-gb-siyayushchaya-zvezda/"
      class="chbox chbox_radio"
    >
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value="6314"
      />
      <div class="color-param" style="--c: #e6dfd5"></div>
    </a>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Бургунди</span></div>
    </div>
    <div class="chbox chbox_radio">
      <!-- radio-->
      <input
        type="radio"
        name="PROPERTY_CHANGEABLE_FROM_XML_ID_COLOR"
        value=""
      />
      <div class="param param_disabled"><span>Звездный синий PS5</span></div>
    </div>
  </div>
</div>
