.modal.modal-side-right.product-description-modal
  .modal__head
    .modal__title
      span Description
    button.modal__close(modal-close)
      +svgIcon('close')
  .modal__body
    .modal-text-inner
      .h1._dsk Description
      p The units sold come with a slot for 1 physical SIM and an eSIM. If you need a unit with 2 physical SIM slots, please contact support.
      p iPhone 15 Pro Max is a combination of aesthetics and functionality. For the first time, the iPhone frame is made of titanium, making it the lightest iPhone Pro ever and able to withstand the most demanding workloads.
      p The heart of the iPhone 15 Pro Max is the new A17 Pro processor. This is the first mobile chip made using 3 nm process technology, ensuring instant response of the device to any commands and optimal energy saving. And the new 6-core graphics chip works 20% faster and supports ray tracing at the hardware level.
      p The Pro Max camera system with advanced optical image stabilization, portrait mode, and night shooting lets you take professional photos even in the most challenging lighting conditions. You can choose a default lens, as well as select focal lengths for the main camera: 24mm, 28mm, and 35mm.

.modal.modal-side-right.product-chars-modal
  .modal__head
    .modal__title
      span Characteristics
    button.modal__close(modal-close)
      +svgIcon('close')
  .modal__body
    .product-full-chars
      .h1._dsk Characteristics
      .product-full-chars__inner
        table
          tbody
            tr 
              th Basics
            tr
              td OC
              td iOS
            tr
              td Model
              td Apple iPhone 15 Pro Max
            tr
              td Color
              td "Titanium Blue"
            tr 
              th Storage
            tr
              td Persistent memory
              td 256 GB

            tr 
              th Screen
            tr
              td Screen diagonal
              td 6,7"
            tr
              td Resolution
              td 2796x1290
            tr
              td Screen refresh rate
              td 120 Гц
            tr
              td Screen type
              td OLED
            tr
              td Screen Features
              td True Tone, ProMotion with adaptive refresh rate up to 120Hz
            tr
              th CPU
            tr
              td CPU
              td Apple A17 Pro
              
            tr
              th Cameras
            tr
              td Basic cameras
              td 48 MP + 12 MP + 12 MP
            tr
              td Zoom
              td 5x
            tr
              td Video recording
              td HDR video in Dolby Vision standard up to 60 fps
            tr
              td Frontal camera
              td 12 Мп
              
            tr
              th Housing material
            tr
              td Housing material
              td Titanium
              
            tr
              th Communication and Connection
            tr
              td Connectors and connection
              td USB Type-C
            tr
              td Networks and navigation
              td 5G (sub‑6 GHz)Gigabit Class LTEWi‑Fi 6 (802.11ax)/WLANBluetooth 5.3NFC with reader mode supportGSM/EDGEUMTS/​HSPA+/​DC-HSDPAMIMOExpress cards with backup power