section.page__block.page__block_margin-none
  include ../blocks/_breadcrumbs
section.page__block
  include ./_product-content
  
  
                

section.page__block 
 include ../blocks/_mixed-grid.pug
section.page__block
  h2.page-block-head Top sellers
  - var amount = 8
  include ../blocks/_prod-gird-slider
.page__block 

  