header.header.header_order
  .header__inner
    a.header__section.header__section_back(href="#" onclick="history.back()")
      +svgIcon('arrow-next')
      +svgIcon('arrow-left')
      p Go back
    .header__section.header__section_logo
      .header__logo
        img(src="img/ram-logo.png")
    a(href="#").header__section.header__section_support
      img(src="img/footer/social-icon-1.svg")
      p Support