
section.page__block.page__block_full-width-mob
  .sticky-menu.customer-info(data-sticky-container) 
    .sticky-menu__side.customer-info__side
      block side
        include ./__side-customer
    block content
      .sticky-menu__content.customer-info__content