
extends ./__layout
block content
  .sticky-menu__content.customer-info__content
    .article
      section
        .h1 DoBuy is a service for purchasing goods from the UAE at fair prices with delivery to all regions of Russia
      section
        .h2 About service
        p 
          |We are the largest stock of original goods in the UAE. Our mission is to make the purchase of foreign goods accessible and fast for residents of all regions of Russia. We do not just bring purchases. We deliver moments of joy - gifts for special occasions, unpacking long-awaited new products, the pleasure of the fact that the purchase turned out to be really profitable.
          |<br/>У нас есть все, чтобы гарантировать быструю доставку оригинальных товаров по справедливым ценам — надежная сеть поставщиков, свой склад в Дубае и безупречно продуманная логистика.
      section
        .h2 What is important to us
        .h3 Our greatest asset is people. Those who use our services and those who work to provide them efficiently.
        p 
          |We love people and want to change their world for the better.
          |<br/>Мы создаем лучшие условия для сотрудников — каждый в команде чувствует мощную поддержку и гордится своим делом. Мы создаем лучшие условия для партнеров — выполняем обязательства и соблюдаем дедлайны. Мы создаем лучшие условия для клиентов — обеспечиваем сервис, скорость и персонализацию, которых ждут покупатели.
      section
        .h2 Care is our top priority
        p Every day, our customers make decisions. Sometimes they’re small ones — what movie to watch tonight? Sometimes they’re complex and important — which kindergarten to choose for their child? In a world where decisions are constantly being made, people are loyal to companies that care.
        p DoBuy support team has no days off. We care about our customers and help them with a variety of requests. We don’t make people wait if they need support, and we make extra efforts to meet the expectations of those who count on us.
        p We care about everyone who comes to us. After all, it is support and care that create a service that you want to return to.
      section
        .h2 Speed ​​is what we are proud of
        p 
          |Every purchase is a special thing, behind which there are stories of wishes coming true, holidays and important events. Fast delivery brings moments of joy closer, and we do everything to make customers surprised by its speed.
          |<br/>We were fast from the start, but the idea of ​​speed motivated us to look for new solutions. Time after time, we reduced the delivery time by a few more days.
          |<br/>Now we deliver orders from the UAE to Russia in 8 days and create conditions in which your purchases arrive on time
      section
        .h2 Trust is the cement of strong relationships
        p People who contact us once, stay with us forever. How did we manage to gain trust? The recipe is simple - we meet delivery deadlines and guarantee that the goods purchased through our service will be original.
        p We trust suppliers because we work only with official representatives of brands. We are confident in our partners - they help us quickly deliver customers' parcels
      section
        .h2 We have earned trust in the niche and are infinitely proud of this achievement.
        //-include ../blocks/_ya-reviews.html