
extends ./__layout
block content
  .sticky-menu__content.customer-info__content
    .article
      .h1 Contacts
      section
        .h2 Support service
        p 
          |If you have any questions, please write to us via <a href="#">Telegram</a>, <a href="#">WhatsApp</a> or by email at <a href="#">info@dobuy.ru</a> <br/>
          |Support service hours: <b>Monday - Sunday, 8:00 - 21:00 (Moscow time)</b>
      section
        .h2 Company details
        p
          |Laniakea LLC
          |TIN/KIO 9909637467/63746 KPP 231087001
          |Tax authority of registration 2310 — Inspectorate of the Federal Tax Service of Russia No. 2 for the city of Krasnodar
      section
        .h2 Office and warehouse in UAE
        p
          |Laniakea LLC, <br/>
          |Mezzanine Floor, Dynamic Business Center, Office #08. Abdulla KamberBusiness Center building, PO Box, 77106, Hor Al Anz, Dubai. UAE.<br/>
          |+971 452 84 008
      section
        <div data-longitude="55.331707619048736" data-latitude="25.270867066263925" data-marker-longitude="55.331707619048736" data-marker-latitude="25.270867066263925" data-icon-src="img/map-icon.svg" data-icon-src-mobile="img/map-icon-mobile.svg" class="js-ymap" data-placeholder-caption="DoBuy" data-placeholder-balloon=""></div>