extends ./__layout
block content
  .sticky-menu__content.customer-info__content
    .article
      .h1 Delivery to your door in any locality in Russia in 8-12 days
      section
        p
          |We strive to create a memorable experience from the very beginning — from the moment you receive your parcel. The packaging is the first point of physical contact with you, so it is durable and high-quality. With each parcel you receive a nice souvenir from Dubai — a branded postcard.
        p
          |We pack your purchases with great love, and we do it ourselves. If we accidentally forgot to put a card for you, or you have any wishes related to packaging, just write to
          a(href="#") support chat.
      section
        .h2 Buy whatever you want
        .steps-mesh
          .step-item
            .step-item__img 
              img(src="img/additional-pages/delivery1.png" alt="")
            .h4 Original products
            span Caring support service available 7 days a week
          .step-item
            .step-item__img 
              img(src="img/additional-pages/delivery2.png" alt="")
            .h4 Payment
            span Caring support service available 7 days a week
          .step-item
            .step-item__img 
              img(src="img/additional-pages/delivery3.png" alt="")
            .h4 Support
            span Caring support service available 7 days a week
      section
        .h2 We will buy the goods in 1-3 working days and deliver them in 8-12 days from the moment of payment.
        p Our own postal agent, DoBuy Express, is responsible for fast delivery to the UAE. In the Russian Federation, parcels are accepted by Russian Post EMS and delivered by courier to the address.
        p The parcel will arrive at your postcode, wait for a call from the courier - he will clarify a convenient time for delivery to your door.
      section
        .quote-banner
          .quote-banner__text 
            <svg width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M41.472 27.904C41.472 30.3787 40.704 32.384 39.168 33.92C37.632 35.456 35.6267 36.224 33.152 36.224C30.7627 36.224 28.7573 35.3707 27.136 33.664C25.5147 31.872 24.704 29.3547 24.704 26.112C24.704 22.8693 25.7707 18.944 27.904 14.336C30.1227 9.728 33.408 4.94934 37.76 0L40.704 2.56001C37.8027 5.97334 35.7973 9.088 34.688 11.904C33.5787 14.6347 32.9387 17.152 32.768 19.456H33.152C35.6267 19.456 37.632 20.224 39.168 21.76C40.704 23.296 41.472 25.344 41.472 27.904ZM16.768 27.904C16.768 30.3787 16 32.384 14.464 33.92C12.928 35.456 10.9227 36.224 8.448 36.224C6.05867 36.224 4.05333 35.3707 2.432 33.664C0.810667 31.872 0 29.3547 0 26.112C0 22.8693 1.06667 18.944 3.2 14.336C5.41867 9.728 8.704 4.94934 13.056 0L16 2.56001C13.0987 5.97334 11.0933 9.088 9.984 11.904C8.87467 14.6347 8.23467 17.152 8.064 19.456H8.448C10.9227 19.456 12.928 20.224 14.464 21.76C16 23.296 16.768 25.344 16.768 27.904Z" fill="#4C00C9"/></svg>
            span.h2 You can endlessly watch 3 things: how the fire burns, how the water flows and how the DoBuy team packs the parcels.
          .quote-banner__name
            .h6 Victor Kryuchkov
            .h6 COO DoBuy
          .quote-banner__img
            img(loading="lazy" src="img/additional-pages/victor-quote.png" alt="")
      section
        .h2 Tracking your parcel
        p After payment, it will take us 1-3 business days to ship your purchase. When the parcel is ready for shipping, a tracking number will appear in your profile in the "Orders" section. Additionally, we will send a photo of the parcel and tracking information via messenger. The tracking number will not become active immediately, but in 24 hours - when the parcel arrives at the UAE distribution center.
        p Track your shipment on the website or in the Russian Post mobile app - this way you will be aware of all stages of your order's movement. When the parcel successfully reaches the post office, the courier will contact you and agree on the delivery time to your door.
      section
        .h2 Ordering products that are not on the website
        p Our capabilities extend beyond the pages of a catalog. Need help with purchasing an item that is not on the site? We will find it, buy it, and deliver it to your door.
        p Placing a custom order is easy - just write to our support service and tell us what product you are interested in.
      section
        .h2 Ordering products that are not on the website
        p Our capabilities extend beyond the pages of a catalog. Need help with purchasing an item that is not on the site? We will find it, buy it, and deliver it to your door.
        p Placing a custom order is easy - just write to our support service and tell us what product you are interested in.
      section
        .sign-gray-bg 
          p You can ask, share and simply brag about your purchases every day from 8 am to 9 pm Moscow time in <a href="#">Telegram</a> and <a href="#">WhatsApp</a>.
          p You can leave special requests and propose cooperation at the address: <a href="#">info@dobuy.ru</a>.
      section
        .h2 What are DoBuy support specialists good for? <br>They can do everything! Or almost everything.
        ol  
          li They will advise you on the technical characteristics and configuration of the products.
          li They will answer questions related to payment, delivery and tracking of shipments.
          li They will find and buy products that are not on the website.
          li They will help you solve non-standard requests, for example, they will recommend an interesting video game.
          li They will gratefully record your wishes for the service.
      .h2 Answers to important questions
      section
        .accordion-list
          .accordion-item
            .accordion-item__title
              .h6 How to receive a parcel correctly?
              +svgIcon('plus')
            .accordion-item__wrapper
              .accordion-item__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lorem laoreet, egestas augue eu, faucibus arcu. Nunc lobortis faucibus tellus, nec sagittis sapien. Nunc in tempus sem, vel dapibus arcu. Nunc malesuada arcu lorem, non pharetra elit consectetur at. Maecenas vitae varius mauris. Sed ac placerat est. Vestibulum feugiat, ex nec vulputate eleifend, tortor eros blandit magna, ut dignissim ipsum massa vitae magna. Etiam vel eros congue, porttitor nisl sit amet, iaculis nisl. 
          .accordion-item
            .accordion-item__title
              .h6 When going through customs inspection, I was given a customs notification - what does this mean and what should I do?
              +svgIcon('plus')
            .accordion-item__wrapper
              .accordion-item__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lorem laoreet, egestas augue eu, faucibus arcu. Nunc lobortis faucibus tellus, nec sagittis sapien. Nunc in tempus sem, vel dapibus arcu. Nunc malesuada arcu lorem, non pharetra elit consectetur at. Maecenas vitae varius mauris. Sed ac placerat est. Vestibulum feugiat, ex nec vulputate eleifend, tortor eros blandit magna, ut dignissim ipsum massa vitae magna. Etiam vel eros congue, porttitor nisl sit amet, iaculis nisl. 
          +clone(6)
            .accordion-item
              .accordion-item__title
                .h6 How to receive a parcel correctly?
                +svgIcon('plus')
              .accordion-item__wrapper
                .accordion-item__content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lorem laoreet, egestas augue eu, faucibus arcu. Nunc lobortis faucibus tellus, nec sagittis sapien. Nunc in tempus sem, vel dapibus arcu. Nunc malesuada arcu lorem, non pharetra elit consectetur at. Maecenas vitae varius mauris. Sed ac placerat est. Vestibulum feugiat, ex nec vulputate eleifend, tortor eros blandit magna, ut dignissim ipsum massa vitae magna. Etiam vel eros congue, porttitor nisl sit amet, iaculis nisl. 

      a.sign-social(href="#")
        .sign-media-bg
          +l-video
            source(src='img/banner-video/telegram.mp4' type='video/mp4')
            source(src='img/banner-video/telegram.webm' type='video/webm')
        .sign-social__content
          span.h4
            |Didn't find the answer to your question? <br/>write to us in Telegram
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.785 0.0920533L0.840489 5.79416C-0.247661 6.19948 -0.241365 6.76244 0.640845 7.01347L4.73445 8.19776L14.2058 2.65579C14.6537 2.40309 15.0629 2.53903 14.7265 2.81592L7.05283 9.2386H7.05103L7.05283 9.23944L6.77045 13.1526C7.18413 13.1526 7.36669 12.9766 7.59871 12.769L9.58705 10.9758L13.7229 13.809C14.4855 14.1984 15.0332 13.9983 15.2229 13.1543L17.9379 1.28802C18.2158 0.254685 17.5126 -0.213193 16.785 0.0920533Z" fill="white"/>
            </svg>
          +svgIcon('arrow-right')
      