
extends ./__layout
block content
  .sticky-menu__content.customer-info__content
    .article
      .h1 How to order
      section
        ol.list-num 
          li Add the products you like to your cart or contact our support team to place a custom order.
          li Open your shopping cart and make sure you have added only the items you want.
          li Click the "Proceed to checkout" button, fill out a short form for customs declaration and indicate the delivery address.
          li Choose a convenient payment method: by card, via SBP or in installments. Confirm and pay for the order.
      section
        .h2 How to track the order status after payment?
        ul.check-list
          li After payment, you will receive a message in your messenger about successful payment
          li Within 1-3 working days, as soon as the order is collected, a message with a tracking number for tracking and a photo of the goods will be sent to your messenger
          li Track delivery status on the website or in the mobile app
          li "Russian Post".
          li Receive the goods at the post office or wait for a call from the courier - he will deliver the parcel to your door.