
extends ./__layout
block content
  .sticky-menu__content.customer-info__content
    .article
      .h1 Payment
      section
        p 
          |Pay for goods in rubles — by card, via SBP or in installments. We have connected the MTS Pay service to make the purchase process simple and safe. Choose any convenient payment method — in all cases, your data will be protected and hidden from third parties.
        p 
          |Funds are transferred to the account of our company "Laniakea LLC" in a Russian bank. Payment is available only to individuals, but if you are an entrepreneur, you can pay for purchases with a business card.
        
        .article__payments 
          .article__payment 
            img(src="img/additional-pages/payment (1).svg")
          .article__payment 
            img(src="img/additional-pages/payment (2).svg")
          .article__payment 
            img(src="img/additional-pages/payment (3).svg")
          .article__payment 
            img(src="img/additional-pages/payment (4).svg")
          .article__payment 
            img(src="img/additional-pages/payment (5).svg")
      section
        .h2 How to buy goods in installments?
        p When paying for your order, select the “Buy in installments” option and use the “Flex” service from MTS Pay. The service allows you to “stretch” the payment into several parts without interest or commission. At the time of purchase, you pay only 25% of the order cost. The service will write off the remaining amount in equal parts from your card every two weeks.
        p Add to this block logos without signatures payment systems MIR, VISA, mastercard, SBP
      section
        .h2 Secure payment is important
        p You pay for your order via the MTS Pay service or in your mobile banking application via the SBP. We do not request your bank card details on the website or in the support chat.
        p There have been cases where scammers have impersonated us. Be vigilant, do not share your card details with third parties and communicate with us only through official accounts.