
extends ./__layout
block content
  .sticky-menu__content.customer-info__content
    .article
      .h1 Return
      section
        .sign-gray-bg 
          p You can return the product within 4 days from the moment you receive the parcel. We provide this opportunity so that you have time to make sure of the quality of your purchase.
      section
        .h2 The possibility to arrange a return applies to goods of inadequate quality:
        ul.check-list
          li if they don't work
          li if they have defects
        .h2 For goods of proper quality:
        ul.check-list
          li if the model or characteristics of the product differ from those specified in your order
        .h2 If your case fits the description
        p Contact us and tell us about the problem. To speed up the response, please make sure your request includes the following information:
        ul.check-list
          li Order number
          li Detailed description of the defect and the situation
          li Photos or videos that confirm the presence of a defect
      section
        p We will conduct a preliminary check and advise you on how to ship the item to our office in the UAE. Once it arrives, we will promptly inspect it and make a decision on whether to refund or replace the item.
        p We will ask you to pay the postage costs for sending the item to our office and will fully reimburse them once the defect is confirmed.
        p We recommend that you check the quality of the goods immediately. This is important, since 4 days after you receive the parcel, we will not be able to process a return.
        p If we do approve the return of your order, we will ask you to keep the device in its original condition and the original package. We will not be able to accept goods that have mechanical defects or signs of use.