.modal-side-right.auth-modal
.modal-side-right.cart-modal(data-action=endpoint+"/cart")
.mobile-catalog-modal(data-config="api/header-catalog.json")
.mobile-search-modal(data-config="api/header-catalog.json")
.modal-side-right.mts-flex-info-modal
