extends ./_profile

block content
  .sticky-menu__content.customer-info__content.customer-info__content_wide
    .h1 The products you like will be stored here
    span.h3
      | Click on
      +svgIcon('heart')
      | , to add a product to your favorites