extends ./_profile
block content
  .sticky-menu__content.customer-info__content
    .h1._dsk Current orders
    .no-orders
      p You haven't bought anything yet. <br/>It's time to place an order!
      a.button.button_small(href="#") Proceed to shopping