.prof-side#prof-side
  .prof-side__sect._dsk
    img(src="img/profile/emoji.png", alt="")
    .h1 Hi Vlad!
  .prof-side__sect
    ul.h2
      li._active 
        a(href="profile-data") My details
      li 
        a(href="profile-orders")
          | My orders
          span.inline-counter.inline-counter_zero 0
      li 
        a(href="profile-favs")
          | Favorite 
          span.inline-counter 2
  .prof-side__sect._dsk
    a.h4.exit-click(href="#") Exit 
  .prof-side__sect._dsk
    img(src="img/profile/tg.png", alt="")
    .h6 Need help?
    a.h5(href="#") 
      | Write to us in 
      span.hl_tg Telegram