.page__block.page__block_only 
  .page__order-info.page__title
    h1.h2 Thank you for registering on our website!
    .h3 
      | Your email has been successfully verified. Please,
      button.hl(auth-open) log in
        