extends ./_layout
block vars 
  - var pageTitle = "Catalog"
  - var breadcrumbText = ["Main", "Catalog", "Smartphones and gadgets"]
  
prepend subcategoryGrid
  - 
    let subCards = [
      "img/subcategory/videokarti.jpg",
      "img/subcategory/lenovo.jpg",
      "img/subcategory/noutbuk.jpg",
      "img/subcategory/monitor.jpg",
      "img/subcategory/vr.jpg",
      "img/subcategory/transform.jpg",
      "img/subcategory/transform.jpg",
      "img/subcategory/transform.jpg",
      "img/subcategory/transform.jpg"
    ]
  