hr.hr-line
.filters
  .filters__el 
    .textbtn(open-filter)
      +svgIcon('filter')
      span Filters
      .textbtn__counter 2
  .filters__el 
    span 1700 products
  .filters__el._dsk
    .textbtn
      span By popularity
      +svgIcon('arrow-down')
    .h6.filters-drop
      .filters-drop__inner
        a.hl(href="#") By popularity
        a(href="#") By discount size
        a(href="#") Ascending price
        a(href="#") By price descending
        a(href="#") Based on quality reviews
hr.hr-line