block vars

.page__block.page__block_margin-none
  include ../blocks/_breadcrumbs
.page__block.page__block_margin-none
  include ../blocks/_page-title


block subcategoryGrid
  if(subCards)
    .page__block.page__block_full-width-mob
      .subcategory-grid
        .subcategory-grid__wrapper
          - var value
          +cloneArr(subCards)
            a.subcategory-card(href="#s")
              .h5.subcategory-card__title Android 
              .subcategory-card__img 
                img(src=value alt="")

.page__block 
  .subcategory-grid.sub-mesh
    .catalog-mesh
      +clone(4)
        a.subcategory-card(href="#")
          .h5.subcategory-card__title Perfumes and cosmetics
          .subcategory-card__img 
            img(src="img/subcategory/noutbuk.jpg" alt="")
      +clone(6)
        a.subcategory-card(href="#")
          .h5.subcategory-card__title Game consoles
          .subcategory-card__img 
            img(src="img/subcategory/noutbuk.jpg" alt="")
      +clone(2)
        a.subcategory-card(href="#")
          .h5.subcategory-card__title Sport
          .subcategory-card__img 
            img(src="img/subcategory/noutbuk.jpg" alt="")