template.tpl--item-lang
  .modal.modal-side-bottom.modal-lang
    .modal__head
      .h4 Choose country
      button.modal__close(modal-close)
        +svgIcon('close')
    .modal__body
      a.modal__body-el(href="#")
        img(src="img/ru-flag.png" alt="flag")
        .h5 RU
      a.modal__body-el(href="#") 
        img(src="img/by-flag.png" alt="flag")
        .h5 BY
      a.modal__body-el(href="#") 
        img(src="img/kz-flag.png" alt="flag")
        .h5 KZ
      a.modal__body-el(href="#") 
        img(src="img/kz-flag.png" alt="flag")
        .h5 UAE