include ./_snackbar 
include ./_modals  
include ./_product-card-tpl.pug
include ./_header.pug
include ./_cart.pug
include ./_auth.pug
include ./_catalog-filter
include ./_popups
//- include ./_loan-info
include ./_duty-info
include ./_mts-flex-modal
include ./_reviews
include ./_modal-lang
