//- переменные содержащие контент для элементов
-
  const pcPath = "img/product/"
  const prodCards = [
    {
      id: "0000",
      images: [
      pcPath + "1/img0.png",
      ],
      prevs: [
        pcPath + "2/img0.webp",
        pcPath + "2/img1.webp",
        pcPath + "2/img2.webp"
      ]
    },
    {
      id: "0001",
      images: [
      pcPath + "2/img0.png",
      pcPath + "2/img1.png",
      pcPath + "2/img2.png"
      ],
      prevs: [
        pcPath + "2/img0.webp",
        pcPath + "2/img1.webp",
        pcPath + "2/img2.webp"
      ]
    },
    {
      id: "0002",
      images: [
        pcPath + "3/img0.png",
        pcPath + "3/img1.png",
        pcPath + "3/img2.png"
      ],
      prevs: [
        pcPath + "2/img0.webp",
        pcPath + "2/img1.webp",
        pcPath + "2/img2.webp"
      ]
    },
    {
      id: "0003",
      images: [
        pcPath + "4/img0.png",
        pcPath + "4/img1.png",
        pcPath + "4/img2.png",
        pcPath + "4/img3.png"
      ],
      prevs: [
        pcPath + "2/img0.webp",
        pcPath + "2/img1.webp",
        pcPath + "2/img2.webp"
      ]
    },
  ]
  const prodCardDef = {
    id: "0000",
    images: [
      pcPath + "item0.png",
      pcPath + "item1.png",
      pcPath + "item2.png",
      pcPath + "item3.png",
      pcPath + "item4.png",
      pcPath + "item0.png",
    ],
    prevs: [
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
      "img/pv.webp",
    ]
  }
