.modal-side-right.city-input-modal
.modal-side-right.address-input-modal
.modal-side-right.city-input-cdek-modal
.cdek-map
  .cdek-map-inner
    button.cdek-modal__close
      +svgIcon('close')
    .cdek-map-inner-map
      .cdek-pvz-info.hidden
        button.cdek-pvz-info-inner-back
          +svgIcon('arrow-left')
        .cdek-pvz-info-inner
          .cdek-pvz-info-inner-badge
          .cdek-pvz-info-inner-title SDEK pick-up point
          .cdek-pvz-info-inner-description
          .cdek-pvz-info-inner-works
            span Opening hours:
            span.cdek-pvz-info-inner-works-val
          button.cdek-pvz-info-inner-button.button_small.button_hollow._active Choose