.order-side
  .sign-sp-offer
    .sign-media-bg
      +l-video
        source(data-src='img/banner-video/telegram.mp4' type='video/mp4')
        source(data-src='img/banner-video/telegram.webm' type='video/webm')
    .sign-sp-offer__content
      .sign-sp-offer__badge 
        .h4 Discount 2 200₽
      .h5 when ordering 2 or more items
  .order-summary
    .order-summary__empty
      .h2 there is nothing in the basket...
      .h6 check out our new releases or use the search if you are looking for something specific
      a.button.button_small(href="/catalog-first") Go to new products
    .order-summary__head
      span.h2 Your order 
        span.h5
          | / 
          span.order-summary__items-count 2 
          |  pcs.
      .hl.h6(cart-open) Change
    .order-summary__products
    .promocode-input
      .ui-input.ui-input_promocode(data-action=endpoint+"/promocode")
        input(type=inputType name="promocode" placeholder="Введите промокод")
        .ui-input__arrow
          +svgIcon('arrow-right')

    .sale-banner.prod-card.sale-banner_first
      .prod-price
      .button_buy
        <picture>
          <source media="(min-width:768px)" data-srcset="img/choco.png">
          <source media="(max-width:768px)" data-srcset="img/choco.png">
          <img lazy data-src="img/choco.png" alt="main image 1">
        </picture>

    .sale-banner.sale-banner_enlarged.prod-card.sale-banner_second
      .prod-price
      .sale-banner__info 
        .sale-banner__text 
          .h3 FIXmania promotion
          .h6 Take Choco with you for 1₽ when purchasing from 50,000₽
          button.h6.button_buy Add to order
        +l-img("img/choco.png")

    .summary-price
    .duty-badge.duty-badge_sign
      span
        |Parcel from abroad, there will be a duty:
      span.duty-badge__val 5 003 ₽
      .duty-badge__info(info-popup="duty-info")
        +svgIcon('info')
    button.button(type="button" name="submit-order") Confirm and pay