.banner 
  .h1.banner__title Apple is the pinnacle of perfection
  a.banner__img(href="#") 
    +l-video(undefined, "img/head-banner/video1.mp4")
    
  .banner__btn
    a.button.button_small.button_white(href="#" target="_blank") Go to brand