
.choose-lang 
  .choose-lang__top
    img(src="img/ru-flag.png" alt="flag")
    .h5 RU 
    img.choose-lang__arrow(src="img/drop-arrow.png" alt="arrow")
  .choose-lang__body 
    a.choose-lang__el(href="#")
      img(src="img/ru-flag.png" alt="flag")
      .h5 RU
    a.choose-lang__el(href="#")
      img(src="img/by-flag.png" alt="flag")
      .h5 BY
    a.choose-lang__el(href="#")
      img(src="img/kz-flag.png" alt="flag")
      .h5 KZ
    a.choose-lang__el(href="#")
      img(src="img/kz-flag.png" alt="flag")
      .h5 UAE