

.items-reviews
  .items-reviews__top
    .h2 Customers love us for our speed, responsiveness and quality of delivery.
    .slider-navigation
      .slider-navigation__prev
        +svgIcon('arrow-left')
      .slider-navigation__next
        +svgIcon('arrow-right')
  .items-reviews__wrapper
    .items-reviews__item(data-open-review="0")
      .items-reviews__item-img
        img(src="img/unpack-rev/items-review.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 155, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5.restrict-height Marina Terentyeva
      .h6.restrict-height
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
    .items-reviews__item(data-open-review="1")
      .items-reviews__item-img
        img(src="img/unpack-rev/items-review.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 15, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5.restrict-height Marina Terentyeva 
      .h6.restrict-height
        |Great site with fast delivery! Заказ
    .items-reviews__item(data-open-review="2")
      .items-reviews__item-img
        img(src="img/unpack-rev/unpack-1.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 15, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5.restrict-height Marina Terentyeva
      .h6.restrict-height
        |Great site with fast delivery!
    .items-reviews__item(data-open-review="3")
      .items-reviews__item-img
        img(src="img/unpack-rev/items-review.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 15, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5.restrict-height Marina Terentyeva
      .h6.restrict-height
        |Great site
    .items-reviews__item(data-open-review="4")
      .items-reviews__item-img
        img(src="img/unpack-rev/unpack-1.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 15, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5.restrict-height Marina Terentyeva
      .h6.restrict-height
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
    .items-reviews__item(data-open-review="5")
      .items-reviews__item-img
        img(src="img/unpack-rev/items-review.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 15, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5.restrict-height Marina Terentyeva
      .h6.restrict-height
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
    .items-reviews__item(data-open-review="6")
      .items-reviews__item-img
        img(src="img/unpack-rev/unpack-1.jpg" alt="")
      .badge-review
        .badge-review__content 
          img(src="img/unpack-rev/items-review.jpg" alt="")
        .badge-review__info
          .h7.restrict-height Smartphone Apple iPhone 15, 256 GB, blue, 1 SIM + eSIM
          .h7 2 more products
      .rater(style="--rating: 4.5")
      .h5 Marina Terentyeva
      .h6.restrict-height
        |Great site with fast delivery! I ordered myself an iPhone 15,
        |I was very worried about the delivery. But everything went as well as possible.
    