.pagination
  .button.button_small Load more
  .pagination__list
    a.pagination_active.h7(href="#")
      span 1
    a.h7(href="#")
      span 2
    a.h7(href="#")
      span 3
    .h7
      span ...
    a.h7(href="#")
      span 43
    a.h7(href="#")
      span 44