extends ./shared/_layout
prepend head
  -var title = "Catalog first level"
append head
  <link rel="preload" as="style" href="css/theme-iherb.css" />
  link(rel='stylesheet' href="css/theme-iherb.css")
prepend header
  - var hdrTopBanner = false 
  - var logoImg = "img/logo-iherb.svg"
block content
  include ../components/page-catalog/_catalog-first-level
append modals
  include ../components/page-catalog/_catalog-modals