extends ./shared/_layout
prepend head
  -var title = "Catalog 3 level"
block content
  include ../components/page-catalog/_catalog-third-level
append modals
  include ../components/page-catalog/_catalog-modals