extends ./shared/_layout
prepend head
  -var title = "Catalog second level"
block content
  include ../components/page-catalog/_catalog-second-level
append modals
  include ../components/page-catalog/_catalog-modals