extends ./shared/_layout
block header
  include ../components/header-order/_header-order
prepend head
  -var title = "Order confirm"
block content
  include ../components/page-order-confirm/_order-confirm