.nav-mob.nav-mob_order
  button.nav-btn( type="button" name="submit-order")
    .btnS Place an order
    .prod-price
      span.prod-price__val
      .prod-price__discount
        span.prod-price__old 
        .badge.badge_sale
